 
 /*centrado absoluto*/
 .mapa{
  position: absolute;
    top: 0px;
    right: 0;
    bottom: 400px;
    left: auto;
    margin: auto;  
} /*fin centrado absoluto*/

.mapa{
    width: 140px;
    height: 140px;
 background: url(../img/mapa.png);
    background-size: cover;
    
    border-radius: 50%;
    box-shadow: -30px -30px 0 0 rgba(0,0,0,.1) inset, 
        -70px -30px 0 0 rgba(0,0,0,.1) inset,
        5px 5px 0 0 rgba(255,255,255,.2)inset;
    
    -webkit-animation: tierra-girando 5s infinite linear; /*linear pa q gire permanentemente*/
    }

@-webkit-keyframes tierra-girando{
    from{
      background-position: left center;  
    }
    to{
         background-position:  -396px center;  /*le sacamoss el salto d img*/
    }
}
  